WebServiceTester/Connected Services/HL7WebServices/HL7MessageReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.RUHealth.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.RUHealth.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Services for OpenLink to send HL7 messages</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.RUHealth.org">
      <s:element name="AddHL7MessageToWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passphrase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HL7Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHL7MessageToWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddHL7MessageToWarehouseResult" type="tns:ValidateReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidateReturn">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Validate" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddHL7MessageToWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:AddHL7MessageToWarehouse" />
  </wsdl:message>
  <wsdl:message name="AddHL7MessageToWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:AddHL7MessageToWarehouseResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceWebServicesSoap">
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <wsdl:input message="tns:AddHL7MessageToWarehouseSoapIn" />
      <wsdl:output message="tns:AddHL7MessageToWarehouseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InterfaceWebServicesSoap" type="tns:InterfaceWebServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <soap:operation soapAction="http://www.RUHealth.org/AddHL7MessageToWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InterfaceWebServicesSoap12" type="tns:InterfaceWebServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <soap12:operation soapAction="http://www.RUHealth.org/AddHL7MessageToWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InterfaceWebServices">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web Services for OpenLink to send HL7 messages</wsdl:documentation>
    <wsdl:port name="InterfaceWebServicesSoap" binding="tns:InterfaceWebServicesSoap">
      <soap:address location="https://localhost:44391/HL7MessageReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="InterfaceWebServicesSoap12" binding="tns:InterfaceWebServicesSoap12">
      <soap12:address location="https://localhost:44391/HL7MessageReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>