WebServiceTester/Connected Services/HL7WebServices/HL7MessageReceiver1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://RUHealth.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://RUHealth.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://RUHealth.org/">
      <s:element name="AddHL7MessageToWarehouse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Passphrase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HL7Message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHL7MessageToWarehouseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddHL7MessageToWarehouseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddHL7MessageToWarehouseSoapIn">
    <wsdl:part name="parameters" element="tns:AddHL7MessageToWarehouse" />
  </wsdl:message>
  <wsdl:message name="AddHL7MessageToWarehouseSoapOut">
    <wsdl:part name="parameters" element="tns:AddHL7MessageToWarehouseResponse" />
  </wsdl:message>
  <wsdl:portType name="HL7MessageReceiverSoap">
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <wsdl:input message="tns:AddHL7MessageToWarehouseSoapIn" />
      <wsdl:output message="tns:AddHL7MessageToWarehouseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HL7MessageReceiverSoap" type="tns:HL7MessageReceiverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <soap:operation soapAction="http://RUHealth.org/AddHL7MessageToWarehouse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HL7MessageReceiverSoap12" type="tns:HL7MessageReceiverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddHL7MessageToWarehouse">
      <soap12:operation soapAction="http://RUHealth.org/AddHL7MessageToWarehouse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HL7MessageReceiver">
    <wsdl:port name="HL7MessageReceiverSoap" binding="tns:HL7MessageReceiverSoap">
      <soap:address location="http://cpc-intapptst01/HL7WebServices/HL7MessageReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="HL7MessageReceiverSoap12" binding="tns:HL7MessageReceiverSoap12">
      <soap12:address location="http://cpc-intapptst01/HL7WebServices/HL7MessageReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>