HL7Messages/AckNakReturn.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema id="AckNakReturn"
    targetNamespace="http://RUHealth.org"
    elementFormDefault="qualified"
    xmlns="http://RUHealth.org"
    xmlns:mstns="http://RUHealth.org"
    xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:complexType name="ackNakReturn">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="order" type="s:int" />
    </s:sequence>
  </s:complexType>
</s:schema>
